<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.itp.vendorapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- SplashScreen -->
        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--Facebook authentication-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- Main -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <!-- User Profile -->
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />

        <!-- Menu -->
        <activity
            android:name=".activity.MenuActivity"
            android:screenOrientation="portrait" />

        <!-- Redeem -->
        <activity
            android:name=".activity.RedeemActivity"
            android:screenOrientation="portrait" />

        <!-- Voucher -->
        <activity
            android:name=".activity.VoucherActivity"
            android:screenOrientation="portrait" />

        <!-- Location -->
        <activity
            android:name=".activity.LocationActivity"
            android:label="@string/title_activity_location"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--Setting-->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>